doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Woom
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body
        header 
            h1 Woom
        main
            div#myStream
                <!-- playsline 해주면 비디오가 자동으로 전체화면이 되는걸 막아줌-->
                video#myFace(autoplay,playsinline, width="400", height="400")
                button#mute Mute
                button#camera Turn Camera off
                select#cameras
        script(src="/socket.io/socket.io.js")
        script(src="/src/api/routes/socket/test.ts")